.header_color{
    background-color: aliceblue;
    color: #7081b9;
    height: 250px;
    width: 100%;
    height: 100%;
}

.section_heading {
    font-size: 1.25rem;
    color: hsl(225, 65%, 29%);
    width: 100%;
    text-align: center;
    background-color: aliceblue;
}